library list:
- numpy
- os
- cv2
- pandas
- gdown
- time
- accuracy_score from sklearn.metrics
- OpenCV from deepface.models.face_detection
- MtCnn from deepface.models.face_detection
- Yolo from deepface.models.face_detection
- drive from google.colab
- cv2_imshow from google.colab.patches